/* styles.css */

/* Button Styles */
.sidebar-toggle-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/* Sidebar Styles */
.sidebar {

  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #333; /* Updated background color */
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto; /* Add scroll for content overflow */
  transition: width 0.3s ease-in-out; /* Add smooth transition for width changes */
}

img {
  max-width: 30px;
  height: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 15px;
  margin-left:55px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 30px; 
  transition: all 0.3s ease-in-out; 
 
}

.sidebar li:hover {
  color: black;
  background-color: whitesmoke;
  font-weight: bold; /* Add bold text on hover */
  transition: color 0.3s ease-in-out;
  border-radius: 10px;
  padding-left: 25px;
}

/* Table Styles */
.table {
  margin-left: 270px;
  padding: 20px;
}

table.open {
  display: none;

}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


.dashboard {
  background-image: url('https://wallpapercave.com/wp/wp10970968.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; 
  height: 56.25vw;
}


.custom-image {
  width: 30px;
  height: 30px;
  margin-right: 10px; 
}

.sidebar-name {
  display: inline-block;
  margin: 0;
}

.circle-icon {
  margin-top: 70px;
  display: flex;
  flex-direction: column; /* Change to column direction to stack items vertically */
  align-items: center;
  text-align: center; /* Center-align text within the container */
}

.icon-container {
  margin-bottom: 10px; /* Adjust the margin for spacing between icon and text */
}

.username {
  margin: 0; /* Reset margin for the username to remove any default margin */
}

